model_config_list {
    config {
        name: 'potato_model' 
        base_path: '../saved_models' 
        model_platform: 'tensorflow'
            model_version_policy {
                specific {
                    versions: model_4
                    versions: tomato_model_5
                }
            }
            version_labels {
                key: 'production'
                value: model_4
            }
            version_labels {
                kev: 'beta' 
                value: tomato_model_5
            }
    }
}
